// COLORS

$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

// $color-primary: #ff5e007c;
// $color-primary-light: #ff9d007c;
// $color-primary-dark: #4f000e7d;

$color-secondary-light: #ffbb008f;

$color-secondary-dark: #ff78308c;

$color-tertiary-light: #2998ff8f;
$color-tertiary-dark: #5543fa88;

$color-grey-light-1: #d4d3d3;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: rgb(104, 104, 104);
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-navigation: #252525;
$color-navigation-icon: #f8be1faf;
$color-grey-navigation: rgba(51, 51, 51, 0.993);

// CARD COLOURS

// DEFAULT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// NAVIGATION
$width: 3.5rem;
$burger--thickness: 3px;
$navigation__transition: max-height 0.5s ease-in-out;
